* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Logo Colour Palette */
    --beige: #E3DAC7;
    --brown: #251D18;
    --gray: #9A9A9B;
    --warmBrown: #71542A;
    --offBlack: #1C181B;
    --btn-background: #1b1a1dcd
}


/*GOOGLE FONTS*/

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 400 to 700 */

.lora-.font {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Lora", serif;
}

.logo-img {
    height: 75px;
    border-radius: 10px;
}

header {
    background-color: #1B1A1D;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}

.search-input {
    padding: 5px 10px;
    height: 40px;
    width: 450px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.55);
}


header a {
    color: #FCFCFD;
    text-decoration: none;
    margin: 0 15px;
    font-size: 22px;
}


/*MAIN*/

main {
    /* background-color: #6c4e2c5b; */
    background-color: var(--beige);
    min-height: 100vh;
}


/*RESTAURANT STYLES*/


.title {
    text-align: center;
    padding-top: 20px;
    font-size: 28px;
}



.options-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 20px;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}



.restaurant-card {
    width: 275px;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.details {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.details a {
    color: black
}

/*IMAGES*/
.restaurant-img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.veggie-icon {
    height: 30px;
}

/*FILTER CONTAINER*/
.filter-container {
    display: flex;
    justify-content: center;
    padding: 30px;
    height: 100%;
}

button {
    background-color: var(--btn-background);
    color: var(--beige);
    margin: 0 10px;
    padding: 12px 18px;
    width: 150px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

.save-rest-btn {
    background-color: #1b1a1dcd;
    color: #EBEAE9;
    font-weight: bold;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.close-modal-btn {
    border: 1px solid #EBEAE9;
    ;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
}

.weather-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
    background-color: #1b1a1df1;
    color: #EBEAE9;
    font-size: 20px;
    border-radius: 30px;
}

.hidden {
    display: none;
}

.forecast {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.weather-details {
    margin: 20px;
}



@media screen and (max-width:1200px) {
    .search-input {
        /* padding: 5px 10px; */
        height: 30px;
        width: 400px;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.55);
    }

    header a {
        margin: 0 5px;
        font-size: 17px;
    }

    header button {
        width: 100px;
        height: 40px;
    }
}

@media screen and (max-width: 1000px) {
    .search-input {
        width: 200px;
    }



    header a {
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
    .search-input {
        width: 100px;
    }

}