/* Logo Colour Palette */
:root {
    --beige: #E3DAC7;
    --brown: #251D18;
    --gray: #9A9A9B;
    --warmBrown: #71542A;
    --offBlack: #1C181B;
}

/* Navigation Bar Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--beige);
    padding: 10px 20px;
    border-radius: 10px;
}

/* Logo (Image) Styles */
nav img {
    max-height: 40px;
    border-radius: 5px;
}

/* Search Bar Styles */
nav form {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav input[type="text"] {
    padding: 10px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    width: 70%;
    max-width: 400px;
}

/* Option Button Styles */
nav a {
    padding: 10px 15px;
    margin-left: 10px;
    /* Space between buttons */
    background-color: var(--brown);
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    /* Rounded corners for the buttons */
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: var(--warmBrown);
}

/* Body and general text styles */
body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: var(--offBlack);
    color: var(--gray);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

/* Header styles */
h1,
h2,
h3 {
    margin-top: 0;
    color: #ddd;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--gray);
    text-align: center;
}

/* Paragraph styles */
p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: var(--gray);
    text-align: center;
}

/* Image styles */
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--beige);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--brown);
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
    color: var(--warmBrown);
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: var(--brown);
    text-decoration: none;
}

/* Map styles */
#map {
    height: 400px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Restaurant list styles */
#restaurantList {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="password"],
button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

button {
    background-color: var(--brown);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--warmBrown);
}

/* Contact List Container Styles */
#contactList {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    /* Three narrower columns */
    grid-gap: 20px;
    /* Space between the cards */
    justify-content: center;
    margin-top: 20px;
}

.container {
    display: flex;
    /* Enable Flexbox */
    flex-direction: column;
    /* Arrange content in a column */
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    /* Center items vertically */
    padding: 20px;
    /* Add padding for spacing */
    background-color: var(--beige);
    /* Background color for the container */
    border-radius: 10px;
    /* Rounded corners */
}

/* Style for the button inside the container */
.container button {
    background-color: var(--brown);
    color: #fff;
    padding: 10px 20px;
    /* Padding around the button */
    border-radius: 5px;
    /* Rounded corners for the button */
    border: none;
    /* Remove default border */
    cursor: pointer;
    /* Change cursor to pointer */
    transition: background-color 0.3s ease;
    /* Transition effect for hover */
}

/* Button hover effect */
.container button:hover {
    background-color: var(--warmBrown);
}

.container h1 {
    text-align: center;
    /* Center text */
    color: var(--gray);
    /* Use the defined gray color */
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    /* Add any additional styles you may want */
}

/* Media Query for screens with width 800px and below */
@media (max-width: 800px) {
    #contactList {
        grid-template-columns: repeat(2, 1fr);
        /* Two columns on screens 800px and below */
    }
}

/* Media Query for screens with width 500px and below */
@media (max-width: 500px) {
    #contactList {
        grid-template-columns: 1fr;
        /* One column on screens 500px and below */
    }
}

/* Contact Card Styles */
.contact-card {
    background-color: var(--beige);
    /* Background color of the cards */
    border: 2px solid var(--brown);
    /* Border around each card */
    border-radius: 10px;
    /* Rounded corners for the cards */
    padding: 20px;
    /* Padding inside the cards */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Box shadow for the cards */
    overflow: hidden;
    /* Hide any overflow of content */
    white-space: normal;
    /* Allow line breaks */
    text-overflow: ellipsis;
    /* Show ellipsis if text overflows */
}

/* Contact Card Text Styles */
.contact-card h2 {
    margin: 0 0 10px;
    /* Margin for the contact name */
    color: var(--brown);
}

.contact-card p {
    margin: 5px 0;
    /* Margin for the contact information */
    color: var(--gray);
}

.background-image {
<<<<<<< HEAD
    background-image: url('./assets/images/Homepage.jpg');
=======
    background-image: url('../images/Homepage.jpg'); 
>>>>>>> e9e021987a47ff2ce10e21de5a236e485a4829e2
    background-size: cover;
    opacity: 0.4;
    height: 100vh;
}


/*RESTAURANT.CSS STYLES*/

.logo-img {
    height: 75px;
    border-radius: 10px;
}

header {
    background-color: var(--beige);
    display: flex;
}


.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}

.search-input {
    padding: 5px 10px;
    height: 40px;
    width: 450px;
    border-radius: 20px;

}


header a {
    color: #fff;
    background-color: #251D18;
    padding: 10px 15px;
    margin: 0, 0, 0, 10px;
    border-radius: 10px;
    text-decoration: none;
}


.title {
    text-align: center;
    padding-top: 20px;
    font-size: 28px;
}



.options-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 20px;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}


.restaurant-card {
    width: 275px;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.intro h1 {
    font-size: 20px;
}

.details {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

section .options-container .restaurant-card .details {
    display: flex;
    justify-content: center;
}

section .options-container .restaurant-card .intro {
    display: flex;
    justify-content: center;
}

.details a {
    color: black
}

.restaurant-img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.filter-container {
    display: flex;
    justify-content: center;
    padding: 30px;
    height: 100%;
}

.btn {
    /* background-color: #1b1a1dcd; */
    color: #EBEAE9;
    margin: 0 10px;
    padding: 12px 18px;
    width: 150px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

.save-rest-btn {
    height: 75px;
    width: 100px;

}

.close-modal-btn {
    border: 1px solid #EBEAE9;

}

.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
}

.weather-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
    background-color: #1b1a1df1;
    color: #EBEAE9;
    font-size: 20px;
    border-radius: 30px;
}

.hidden {
    display: none;
}

.forecast {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.weather-details {
    margin: 20px;
}